Editing {{myPirate.name}}  ID: {{myPirate.id}}
<form name='edit_form'  ng-submit="editPirate(1)" class='form-group'>
  <label for="">Name</label>
  <input name='name' type="text"  value="{{myPirate.name}}">

  <label for="">Poison</label>
  <input name='poison' type="text"  value="{{myPirate.poison}}">

  <label for="">Accessory</label>
  <input name='accessory' type="text"  value="{{myPirate.accessory}}">

  <label for="">Image URL</label>
  <input name='image_url' type="text"  value="{{myPirate.image_url}}">

  <input type="submit">

</form>
