<h1>Pirates</h1>
<h3>Welcome {{user.username}}</h3>
<div>
<button ng-click='showForm()'>Add a Pirate</button>
<form ng-show="formVisible" name='pirate_form'  ng-submit="formSubmit()" class='form-group'>
  <label for="">Name</label>
  <input name='name' type="text" ng-model="formData.name">

  <label for="">Poison</label>
  <input name='poison' type="text" ng-model="formData.poison">

  <label for="">Accessory</label>
  <input name='accessory' type="text" ng-model="formData.accessory">

  <label for="">Image URL</label>
  <input name='image_url' type="text" ng-model="formData.image_url">

  <input type="submit">

</form>
</div>

<div ng-repeat="pirate in pirates track by $index">

  <h3>{{pirate.name}}</h3>
  <p>accessory: {{pirate.accessory}}</p>
  <p>poison: {{pirate.poison}}</p>
  <img ng-src="{{pirate.image_url}}" alt="pirate">

  <a href="/edit/pirate/{{pirate.id}}" class="btn btn-primary">Edit this Pirate</a>
  <button ng-click="deletePirate(pirate)" class="btn btn-danger">Walk the Plank</button>


  <p>
    id: {{pirate.id}}
  </p>

</div>
